body {
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	color: black;
	font-weight: bold;
	line-height: 24px;
	text-transform: uppercase;
	/*временный фон*/
	background-color: #5c5c5c;
}

.content-title {
	font-size: 24px;
	line-height: 30px;
}

.index-content-title {
	font-size: 30px;
	line-height: 42px;
}

.features-name {
	font-size: 30px;
	line-height: 42px;
	color: #f7f4f1;
}
